<!DOCTYPE html>
<html lang="en">

<%- include("partials/head.ejs") %>

  <body align="start">
    <h1 style=" margin-top: 15%; ">Welcome to Northcoders News API</h1>
    <h3>
      <a href="/api ">API Endpoints >></a>
    </h3>
  </body>

</html>