<!DOCTYPE html>
<html lang="en">

<%- include("partials/head.ejs") %>

  <body align="center">
    <h1 style=" margin-top: 15%; font-family: Arial, Helvetica, sans-serif">Welcome to my Northcoders News API</h1>

  </body>

</html>